<div id="nav-container" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav id="main-nav">
        <div class="nav-flex">
            <div id="nav-title">
                <h1>Skills Matrix</h1>
            </div>
        </div>
        <ul class="nav-links">

            <span class="nav-links" sec:authorize="hasRole('USER')">
                <li class="nav-link"><a href="/mySkills">My Skills</a></li>
                <li class="nav-link"><a href="/details">My Details</a></li>
            </span>
            <span class="nav-links" sec:authorize="hasRole('ADMIN')">
                <li class="nav-link"><a href="/skill/admin/all">Skills</a></li>
                <li class="nav-link"><a href="/category/admin/all">Categories</a></li>
                <li class="nav-link"><a href="/staff/admin/all">Staff</a></li>
            </span>
            <li class="nav-link"><a sec:authorize="isAuthenticated()" href="/logout">Logout</a></li>
        </ul>
    </nav>
</div>