<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head.html">
  <title>Admin main</title>
</head>
<body>
  <div th:insert="fragments/header"></div>
  <div id="main-container">
    <div id="margin-container">
        <div class="first-name-container">
            <h1 th:text="${username}"></h1>
        </div>
        <div id="admin-description-container">
            <p>As an admin you have the ability to add, edit and delete skills and categories.
                Whilst also being able to see staff skills and other relevant information.</p>
        </div>
    </div>
  </div>
  <footer th:replace="fragments/footer.html"></footer>
</body>

</html>
