<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head.html">
  <title>Admin main</title>
</head>
<body>
<div th:insert="fragments/header"></div>
<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <h1>Admin main page</h1>
  </div>
  Logged user: <span sec:authentication="name">user name?</span>
  Roles: <span sec:authentication="principal.authorities">roles?</span>

</div>
</body>
</html>
