<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head.html">
    <title>My Skills</title>
</head>
<body>
<div th:replace="fragments/header.html"></div>
<div id="main-container">
    <div id="margin-container">
        <div id="page-title">
            <h1>My Skills</h1>
        </div>
        <div id="detailed-skills-container">
            <div id="no-skills-for-user" th:if="${staffSkillList.size() == 0}">
                <p>You are not registered to any skills</p>
            </div>
            <table th:if="${staffSkillList.size() > 0}" id="skill-table-by-staff">
                <tr>
                    <td class="table-title">Skill</td>
                    <td class="table-title">Expiry Date</td>
                    <td class="table-title">Skill Strength</td>
                </tr>
                <tr th:each="staffSkill: ${staffSkillList}">
                    <td th:text="${staffSkill.skill.name}"></td>
                    <td th:text="${staffSkill.expiryDate.toString()}"></td>
                    <td th:text="${staffSkill.skillStrength}"></td>
                    <td sec:authorize="isAuthenticated()">
                        <a class="underlined-link" th:href="@{/skill/editSkillPage/{id}(id=${staffSkill.getId()})}">Edit</a>
                    </td>
                    <td sec:authorize="isAuthenticated()">
                        <a class="underlined-link" th:href="@{/skill/staff/delete/{id}(id=${staffSkill.getId()})}">Delete</a>
                    </td>
                    </form>
                </tr>
            </table>
                <div id="add-staff-skill-wrapper">
                    <h2>Create Skill</h2>
                    <form id="add-staff-skill-container" th:action="@{/skill/staff/add/}" th:object="${staffSkillIdDTO}" method="post">
                        <div id="add-staff-skill-input-container">
                            <div class="edit-skill-content">
                                <p>
                                    Expiry Date
                                    <input type="date" th:field="*{expiryDate}" placeholder="Expiry Date"/>
                                    <span th:if="${#fields.hasErrors('expiryDate')}" th:errors="*{expiryDate}"></span>
                                </p>
                            </div>
                            <div class="edit-skill-content">
                                <p>
                                    Skill Strength
                                    <input type="text" th:field="*{skillStrength}" placeholder="Skill Strength"/>
                                    <span th:if="${#fields.hasErrors('skillStrength')}" th:errors="*{skillStrength}"></span>
                                </p>
                            </div>
                            <div class="edit-skill-content">
                                <div id="skill-container">
                                    <p class="add-skill-content">Skill</p>
                                    <select th:field="${staffSkillIdDTO.skillId}">
                                        <option th:each="s : ${skillDTOs}"
                                                th:value="${s.id}"
                                                th:utext="${s.name}"></option>
                                    </select>
                                </div>
                            </div>
                            <p class="hidden">
                                Staff Id
                                <input type="text" th:field="*{staffId}" placeholder="Staff Id"/>
                                <span th:if="${#fields.hasErrors('staffId')}" th:errors="*{staffId}"></span>
                            </p>
                        </div>
                        <button type="submit" value="Add">Add</button>
                        <div id="error-container">
                            <p class="error-text" th:if="${error}" th:text="${error}"></p>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer.html"></div>
</body>
</html>