<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head.html">
    <title>My Skills</title>
</head>
<body>
<div th:replace="fragments/header.html"></div>
<div id="main-container">
    <div id="margin-container">
        <div id="page-title">
            <h1>My Skills</h1>
        </div>
        <div id="detailed-skills-container">
            <div id="no-skills-for-user" th:if="${staffSkillList.size() == 0}">
                <p>You are not registered to any skills</p>
            </div>
            <table th:if="${staffSkillList.size() > 0}" id="skill-table-by-staff">
                <tr>
                    <td class="table-title">Skill</td>
                    <td class="table-title">Date Attained</td>
                    <td class="table-title">Expiry Date</td>
                    <td class="table-title">Skill Strength</td>
                </tr>
                <tr th:each="staffSkill: ${staffSkillList}">
                    <td th:text="${staffSkill.skill.name}"></td>
                    <td th:text="${staffSkill.expiryDate.toString()}"></td>
                    <td th:text="${staffSkill.skillStrength}"></td>
                    <td sec:authorize="isAuthenticated()">
                        <a class="underlined-link" th:href="@{/staff/editSkillPage/{id}(id=${staffSkill.getId()})}">Edit</a>
                    </td>
                    </form>
                    <form th:action="@{/staff/skill/delete/{id}(id=${staffSkill.id})}" method="post">
                        <div class="button-container">
                            <button type="submit" value="Delete">Delete</button>
                        </div>
                    </form>
                </tr>
            </table>
        </div>
    </div>
</div>

<div th:replace="fragments/footer.html"></div>
</body>
</html>