<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head.html">
  <title>My Details</title>
</head>
<body>
<div th:insert="fragments/header"></div>
<div id="main-container">
  <div id="margin-container">
    <div id="page-title">
      <h1>My Details</h1>
    </div>
      <div id="details-container">
          <form th:action="@{/details/admin/update/{id}(id=${details.id})}" method="post">
              <div class="details-line">
                  <p>First Name</p>
                  <label>
                      <input type="text" th:field="*{details.firstName}"  name="firstName" placeholder="First Name"/>
                  </label>
                  <span th:if="${#fields.hasErrors('details.firstName')}"
                        th:errors="*{details.firstName}" th:errorclass="fieldError"></span>
              </div>
              <div class="details-line">
                  <p>Surname</p>
                  <label>
                      <input type="text" th:field="*{details.surname}"  name="surname" placeholder="Surname"/>
                  </label>
                  <span th:if="${#fields.hasErrors('details.surname')}"
                        th:errors="*{details.surname}" th:errorclass="fieldError"></span>
              </div>
              <div class="details-line">
                  <p>Address First Line</p>
                  <label>
                      <input type="text" th:field="*{details.addressFirstLine}"  name="addressFirstLine" placeholder="Address First Line"/>
                  </label>
                  <span th:if="${#fields.hasErrors('details.addressFirstLine')}"
                        th:errors="*{details.addressFirstLine}" th:errorclass="fieldError"></span>
              </div>
              <div class="details-line">
                  <p>Address Second Line</p>
                  <label>
                      <input type="text" th:field="*{details.addressSecondLine}"  name="addressSecondLine" placeholder="Address Second Line"/>
                  </label>
                  <span th:if="${#fields.hasErrors('details.addressSecondLine')}"
                        th:errors="*{details.addressSecondLine}" th:errorclass="fieldError"></span>
              </div>
              <div class="details-line">
                  <p>County</p>
                  <label>
                      <input type="text" th:field="*{details.county}"  name="county" placeholder="County"/>
                  </label>
                  <span th:if="${#fields.hasErrors('details.county')}"
                        th:errors="*{details.county}" th:errorclass="fieldError"></span>
              </div>
              <div class="details-line">
                  <p>Postcode</p>
                  <label>
                      <input type="text" th:field="*{details.postcode}"  name="postcode" placeholder="Postcode"/>
                  </label>
                  <span th:if="${#fields.hasErrors('details.postcode')}"
                        th:errors="*{details.postcode}" th:errorclass="fieldError"></span>
              </div>
              <p class="error-text" th:if="${errorString}" th:text="${errorString}"></p>
              <div class="button-container">
                  <button type="submit" value="Update">Update</button>
              </div>
          </form>
          <form th:action="@{/details/admin/delete/{id}(id=${details.id})}" method="post">
              <div class="button-container">
                  <button type="submit" value="Delete">Delete</button>
              </div>
          </form>
      </div>
  </div>
</div>
<footer th:replace="fragments/footer.html"></footer>
</body>
</html>