<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head.html">
    <title>All Categories</title>
</head>
<body>
<div th:insert="fragments/header"></div>
<div id="main-container">
    <div id="margin-container">
        <div id="page-title">
            <h1>All Skills</h1>
        </div>
        <div id="all-skills-container">
            <table id="skills-table">
                <tr>
                    <td class="table-title">Skill</td>
                    <td class="table-title">Category</td>
                </tr>
                <tr th:each="skill: ${skillList}">
                    <td th:text="${skill.name}"></td>
                    <td th:text="${skill.getCategory().getDescription()}"></td>
                    <td sec:authorize="hasRole('ADMIN')">
                        <a class="underlined-link" th:href="@{/skill/admin/editPage/{id}(id=${skill.getId()})}">Edit</a>
                    </td>
                    <td sec:authorize="hasRole('ADMIN')">
                        <a class="underlined-link" th:href="@{/skill/admin/delete/{id}(id=${skill.getId()})}">Delete</a>
                    </td>
                    <td sec:authorize="hasRole('ADMIN')">
                        <a class="underlined-link" th:href="@{/staff/admin/skillPage/{id}(id=${skill.getId()})}">View Staff</a>
                    </td>
                </tr>
            </table>
            <div id="add-skill-form-container">
                <div class="sub-title">
                    <h3>Add A Skill</h3>
                </div>
                <form id="add-skill-form" th:action="@{/skill/admin/add}" th:object="${skillDTO}" method="post">
                    <p class="add-skill-content">
                        <input type="text" th:field="*{name}" placeholder="Skill Name"/>
                    </p>
                    <div id="category-container">
                        <p class="add-skill-content">Category</p>
                        <select th:field="${skillDTO.category.id}">
                            <option th:each="category : ${skillCategory}"
                                    th:value="${category.id}"
                                    th:utext="${category.description}"></option>
                        </select>
                    </div>
                    <button class="add-skill-content" type="submit">Add</button>
                </form>
                <p class="error-text" th:if="${error}" th:text="${error}"></p>
            </div>

        </div>
    </div>
</div>
<footer th:replace="fragments/footer.html"></footer>
</body>
</html>