<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head.html">
  <title>All Categories</title>
</head>
<body>
<div th:insert="fragments/header"></div>
<div id="main-container">
  <div id="margin-container">
    <div id="page-title">
      <h1>All Categories</h1>
    </div>
    <div id="all-categories-container">
      <table id="categories-table">
        <tr th:each="category: ${categoryList}">
          <td th:text="${category.description}"></td>
          <td sec:authorize="hasRole('ADMIN')">
            <a class="underlined-link" th:href="@{/category/admin/skillPage/{id}(id=${category.getId()})}">View Skills</a>
          </td>
          <td sec:authorize="hasRole('ADMIN')">
            <a class="underlined-link" th:href="@{/category/admin/editPage/{id}(id=${category.getId()})}">Edit</a>
          </td>
          <td sec:authorize="hasRole('ADMIN')">
            <a class="underlined-link" th:href="@{/category/admin/delete/{id}(id=${category.getId()})}">Delete</a>
          </td>
        </tr>
      </table>
      <p class="error-text" th:if="${deletionError}" th:text="${deletionError}"></p>
      <div id="category-form-container">
        <div class="sub-title">
          <h3>Add A Category</h3>
        </div>
        <form id="category-form" th:action="@{/category/admin/add}" th:object="${categoryDTO}" method="post">
          <p class="add-category-content">
            <input type="text" th:field="*{description}" placeholder="Category Name"/>
            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
          </p>
          <button class="add-category-content" type="submit">Add</button>
        </form>
        <p class="error-text" th:if="${error}" th:text="${error}"></p>
      </div>
    </div>
  </div>
</div>
<footer th:replace="fragments/footer.html"></footer>
</body>
</html>