<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View All Staff</title>
</head>
<body>
    <div th:insert="fragments/header.html">
        <div id="main-container">
            <div id="margin-container">
                <p>View All Staff Page</p>
                <table>
                    <tr>
                        <td>Staff ID</td>
                        <td>First Name</td>
                        <td>Surname</td>
                        <td>Manager</td>
                        <td>Skills</td>
                    </tr>
                    <tr th:each="staff: ${staffList}">
                        <td th:text="${staff.getId()}"></td>
                        <td th:text="${staff.getDetails().getFirstName()}"></td>
                        <td th:text="${staff.getDetails().getSurname()}"></td>
                        <td th:text="${staff.getManager().getDetails().getFirstName()}"></td>
                        <table>
                            <tr th:each="skill: ${staff.getSkills()}">
                                <td th:text="${skill.getName()}"></td>
                            </tr>
                        </table>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>